body{
    background-image: url(background.jpg);
}
.fbox{
    border: 5px solid red;
    padding:20px 100px;
    display: inline-block;
    width: fit-content;
    border-radius: 50px;
    color: white;
    background-color: black;
    margin-top: 100px;
}
.sbox{
    border: 5px solid red;
    padding:20px 100px;
    width: fit-content;
    border-radius: 50px;
    color: white;
    background-color: black;
    margin-top: 100px;
    display: inline-block;
    margin-left: -125px;
}
.tbox{
    border: 5px solid red;
    padding:20px 100px;
    width: fit-content;
    border-radius: 50px;
    color: white;
    background-color: black;
    margin-top: 100px;
    display: inline-block;
    margin-left: 525px;
}
.circle{
    border: 10px solid grey;
    text-align: center;
    border-radius: 500px;
    height: 300px;
    width: 300px;
    background-color: aqua;
    margin-top: 180px;
    margin-left: 150px;
    display: inline-block;
}
.ccontain{
    text-decoration: underline;
    padding-top: 30px ;
}
.hr1{
    width: 170px;
    border: 0.5px solid white ;
}
.seform{
    display: inline-block;
    border: 10px dashed red;
    text-align: center;
    color: red;
    margin-left: 450px;
    margin-top: 50px;
    padding: 0px 70px 70px 70px;
    background-color: azure;
}
.formHead{
    font-size: 1.5rem;
}
.menubox{
    border: 5px solid red;
    padding:20px 150px;
    display: inline-block;
    border-radius: 50px;
    color: white;
    background-color: black;
    margin-left: 578px;
    margin-top: 30px;
}
.flexboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.flexboxes p{
    font-size: 1.5rem;
}
.box{
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin: 50px 10px;
    background-color: rgb(81, 187, 160);
}
.flexhr{
    border-bottom: 1px solid red;
}


